.login_main_conatiner {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.login_login_heading {
  font-size: 24px;
  color: black;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.login_featuresMessage {
  font-size: 16px;
  color: #000000;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
.login_form_main_container {
  width: 100%;
}
.login_login_input {
  background-color: #e8f0fe;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.login_label_container {
  display: flex;
  flex-direction: column;
}
.login_label_name {
  font-size: 17px;
  padding: 2px;
  margin: 2px;
}
.login_login_buttonSection {
  display: flex;
  gap: 30px;
  margin: 10px;
}
.login_forget_message {
  text-decoration: none;
  font-size: 19px;
  align-self: center;
}

.errorMessage {
  color: red;
}
.errorInput {
  border: 2px solid red;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 5px;
}
