<h5 class="movies_title" appTitlesOver>Popular Movies</h5>
<div class="home-display-containers">
  <div
    class="home-card-container"
    (click)="gotoDetailPage(movie.id)"
    *ngFor="let movie of moviedata"
  >
   <div class="movie-imageContainer">
    <img
    class="movie-image"
    [src]="movie?.poster_path"
    alt="Card image cap"
  />
   </div>

    <div class="movie-card-body">
      <h5 class="movie-card-title">{{ movie?.title }}</h5>
      <p class="movie-date-title">{{ movie?.release_date | date }}</p>
    </div>
  </div>
</div>
