.navbar_mainContainer {
  background-color: #29485e;
}

.activeOption {
  background-color: rgba(160, 213, 235, 0.9);
  border-radius: 15px;
  font-weight: 700;
}

.nav_after_login {
  display: flex;
  gap: 6px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




mat-icon {
  vertical-align: middle;
}

.btn-primary {
  background: #E40A00;
}