<form
  class="card container-fluid border mb-3 p-3"
  (ngSubmit)="submitReview()"
  [formGroup]="reviewForm"
>
  <h6 class="mt-2">Leave a review:</h6>
  <hr />
  <div class="form-group mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Select your rating...</label
    >
    <app-movie-rating
      [editable]="true"
      (ratingUpdated)="getRating($event)"
    ></app-movie-rating>
  </div>
  <div class="mb-3 form-group">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Comment:
    </label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      formControlName="comment"
    ></textarea>
    <div
      class="alert alert-dark"
      *ngIf="!reviewForm.valid && reviewForm.touched"
    >
      Please enter atleast 10 characters for comment
    </div>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" [disabled]="!reviewForm.valid">
      Submit review
    </button>
  </div>
</form>
