<!--banner section-->
<div class="banner_mainContainer">
  <div class="banner_title_container">
    <h2 class="banner_welcome" appTitlesOver>Welcome.</h2>
    <h3 class="banner_message">
      Millions of movies, TV shows and people to discover. Explore now.
    </h3>
  </div>
  <div class="banner_inputFiled">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <a
      routerLink="/search"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      >Search</a
    >
  </div>
</div>
<!--sort option and heading-->
<div class="home_sort_container">

  <div class="home_sort_optionsontainer">
    <genre-select-dialog></genre-select-dialog>
    <h1 class="home_sort_heading">Sort</h1>
    <select class="custom-select" (change)="sortMovieOption($event)">
      <option selected hidden>Open this select menu</option>
      <option value="Title(A-Z)">Title(A-Z)</option>
      <option value="Title(Z-A)">Title(Z-A)</option>
      <option value="Release Date Ascending">Release Date Ascending</option>
      <option value="Release Date Descending">Release Date Descending</option>
      <option value="Rating Ascending">Rating Ascending</option>
      <option value="Rating Descending">Rating Descending</option>
    </select>
  </div>
</div>
<!--movie display section-->
<h1 appTitlesOver class="home_trendingTitile">Trending</h1>

<div class="home-display-containers">
  <div
    class="home-card-container"
    (click)="changeRouting(movie.id, movie.media_type)"
    *ngFor="let movie of allmovies | movieSort : sortMethod"
  >
    <div class="movie_image_container" >
      <img
      class="movie-image"
      [src]="movie?.poster_path"
      alt="Card image cap"
    />
    </div>

    <div class="movie-card-body">
      <h5 class="movie-card-title">{{ movie?.title }}</h5>
      <p class="movie-date-title">{{ movie?.release_date | date }}</p>
    </div>
  </div>
</div>
