<div class="container-fluid text-white">
  <div class="card d-flex flex-row detail-container text-white">
    <button
      class="btn fav-icon"
      (click)="addToFavorite()"
      matTooltip="Add to favorite list"
      *ngIf="activeUser && !addToFavoriteStatus"
    >
      <span>
        <mat-icon>favorite</mat-icon>
      </span>
    </button>

    <img
      class="card-img-left"
      [src]="movie?.poster_path"
      alt="Card image cap"
    />
    <div class="card-body">
      <a [routerLink]="['../']" class="btn btn-primary mb-3">Go Back</a>
      <h2 class="card-title">{{ movie?.title }}</h2>
      <div class="alert alert-dark" *ngIf="movie?.details?.tagline">
        {{ movie?.details?.tagline }}
      </div>
      <hr />
      <h3>Released Date:</h3>
      {{ movie?.release_date | dateformat : "simple" }}
      <hr />
      <h3>Duration:</h3>
      {{ movie?.details?.runtime }} mins
      <hr />
      <h3>Storyline:</h3>
      <p class="card-text">
        {{ movie?.overview }}
      </p>
      <hr />
      <h3>Cast:</h3>
      <div
        class="d-flex justify-content-start flex-wrap"
        *ngIf="movieActors && movieActors.length > 0"
      >
        <app-movie-actor
          *ngFor="let actor of movieActors"
          [credit]="actor"
        ></app-movie-actor>
      </div>
      <span (click)="expandActorsSection()" class="expand-icon">
        <mat-icon>{{ expandActors ? "expand_less" : "expand_more" }}</mat-icon>
      </span>
    </div>
  </div>
  <div class="d-flex flex-row m-5">
    <app-movie-rating-form
      [movieId]="movie!.id"
      class="container-fluid"
    ></app-movie-rating-form>
    <div class="container-fluid" *ngIf="movie?.ratings">
      <app-movie-review
        *ngFor="let review of movie?.ratings"
        [review]="review"
      ></app-movie-review>
    </div>
  </div>
</div>
