<div class="container-fluid">
  <div
    class="card d-flex flex-row detail-container"
    style="position: relative; background-color: #a0c4da"
  >
    <button
      class="btn fav-icon"
      (click)="addToFavorite()"
      title="Add to favorite list"
    >
      <span>
        <mat-icon>favorite</mat-icon>
      </span>
    </button>
    <img
      class="card-img-left"
      [src]="movie?.poster_path"
      alt="Card image cap"
      style="width: 300px; background-size: cover"
    />
    <div class="card-body" style="margin-left: 50px">
      <a
        routerLink="/movies"
        class="btn btn-primary mb-3"
        style="background-color: #535876"
        >Go Back</a
      >
      <h3 class="card-title">{{ movie?.title }}</h3>
      <div class="alert alert-dark" *ngIf="movie?.details?.tagline">
        {{ movie?.details?.tagline }}
      </div>
      <hr />
      <h6>Released Date:</h6>
      {{ movie?.release_date }}
      <hr />
      <h6>Duration:</h6>
      {{ movie?.details?.runtime }} mins
      <hr />
      <h6>Overview:</h6>
      <p class="card-text">
        {{ movie?.overview }}
      </p>
      <b>Actors:</b>
      <br />
      <hr />
      <div
        class="d-flex justify-content-start flex-wrap"
        *ngIf="movieActors && movieActors.length > 0"
      >
        <app-movie-actor
          *ngFor="let actor of movieActors"
          [credit]="actor"
        ></app-movie-actor>
      </div>
      <span (click)="expandActorsSection()" class="expand-icon">
        <mat-icon>{{ expandActors ? "expand_less" : "expand_more" }}</mat-icon>
      </span>
    </div>
  </div>
</div>
