.fav-icon {
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 15px;
    color: #E2425A;
    cursor: pointer;
    line-height: 2px;
    background-color: #EAE8E9;
}

.expand-icon{
    color: darkcyan;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.expand-icon > .mat-icon {
    font-size: 30px;
}

@media  (max-width: 900px) {
    .detail-container {
        flex-wrap: wrap !important;
    }

    .detail-container img {
        width: 100% !important;
    }
}