<div
  class="card"
  style="margin-right: 20px; margin-bottom: 10px; height: 268px"
>
  <img
    class="card-img-left"
    [src]="credit?.profile_path"
    alt="Card image cap"
    style="height: 200px; width: 100%; background-size: cover"
    onerror="this.src='https:\/\/e7.pngegg.com/pngimages/981/645/png-clipart-default-profile-united-states-computer-icons-desktop-free-high-quality-person-icon-miscellaneous-silhouette-thumbnail.png';"
  />
  <div class="card-body" style="width: 200px">
    {{ credit?.name }}
  </div>
</div>
