/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  background-color: #032541;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
<<<<<<< HEAD
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialogOverlay {
  background-color: #1e5881 !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
    background: transparent !important;
    color: white !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface h1 {
  color: white;
}
>>>>>>> aswathi_s
