<div>
  <div class="form-inline search_container_searchbar">
    <div class="search_inputContainer">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="magnifying-glass"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        class="svg-inline--fa fa-magnifying-glass search_icon"
        style="line-height: 1"
      >
        <path
          fill="currentColor"
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
          class=""
        ></path>
      </svg>
      <input
        class="form-control sreach_input mr-sm-2"
        type="text"
        
        aria-label="Search"
        name="SearchText"
        [(ngModel)]="SearchText"
      />
    </div>
    <!--disable when empty text-->
    <button
      [disabled]="SearchText === ''"
      class="search_searchButton btn btn-primary my-2 my-sm-0"
      (click)="onSubmitSearch()"
    >
      Search
    </button>
  </div>
  <div class="search_display_container">
    <!--sort method based on rating,title,release date-->
    <div class="search_sort_optionsontainer">
      <h1 class="search_sort_heading">Sort</h1>
      <select class="custom-select" (change)="sortMovieOption($event)">
        <option selected hidden>Open this select menu</option>
        <option value="Title(A-Z)">Title(A-Z)</option>
        <option value="Title(Z-A)">Title(Z-A)</option>
        <option value="Release Date Ascending">Release Date Ascending</option>
        <option value="Release Date Descending">Release Date Descending</option>
        <option value="Rating Ascending">Rating Ascending</option>
        <option value="Rating Descending">Rating Descending</option>
      </select>
    </div>
    <!-- Display welcome message when searchResult is empty -->
    <div
      *ngIf="searchResult.length === 0 && loading"
      class="search_welcome_container"
    >
      <h1 class="search_welcome_message text-center">
        Welcome! Enter a search query to find movies and TV shows.
      </h1>
    </div>
    <!--if search results not empty showing the details of results-->
    <div *ngIf="searchResult.length !== 0" class="search_resuluts_container">
      <div
        (click)="detailPage(movie.id, movie.media_type)"
        class="search_resulut_card"
        *ngFor="let movie of searchResult | movieSort : sortMethod"
      >
        <img class="serach_result_image" [src]="movie?.poster_path" />
        <div class="sreach_res_textContainer">
          <div class="sreach_res_titles">
            <h2 class="sreach_movie_title">{{ movie?.title }}</h2>
            <span class="search_movie_date">{{
              movie?.release_date | date
            }}</span>
          </div>
          <p class="search_res_overview">{{ movie?.overview }}</p>
        </div>
      </div>
    </div>
    <!--Display no matching results message when Search is not empty and searchResults equal to zero -->
    <div
      class="search_nodata_container"
      *ngIf="searchResult.length === 0 && SearchText !== '' && !loading"
    >
      <h1 class="search_nodata_message">
        There are no movies that matched your query.
      </h1>
    </div>
  </div>
</div>
